{% extends 'layout.html' %}

{% block content %}
    <section class="faq-section">
        <h1>Preguntas Frecuentes</h1>
        <p>Encuentra respuestas rápidas a las preguntas más comunes sobre la Feria Online de Emprendedores.</p>

        <div class="faq-item">
            <h2>¿Qué es la Feria Online de Emprendedores?</h2>
            <p>Es una plataforma innovadora que simula la experiencia de una feria tradicional en línea, permitiendo a emprendedores, marcas y vendedores individuales ofrecer sus productos en un espacio virtual compartido.</p>
        </div>

        <div class="faq-item">
            <h2>¿Cómo puedo registrarme como vendedor?</h2>
            <p>Dirígete a la sección "Registrarse" y elige la opción que mejor se adapte a ti: Marca o Vendedor de Usado. Sigue los pasos para completar tu registro y empezar a vender.</p>
        </div>

        <div class="faq-item">
            <h2>¿Qué diferencia a esta plataforma de otros sitios de comercio electrónico?</h2>
            <p>Nuestra plataforma combina la sensación y experiencia de una feria tradicional con la comodidad de las compras en línea. Además, promovemos una cultura de sostenibilidad alentando la venta de ropa usada.</p>
        </div>

        <div class="faq-item">
            <h2>¿Es seguro comprar en la Feria Online?</h2>
            <p>¡Sí! La seguridad de nuestros usuarios es una prioridad. Utilizamos sistemas de pago seguros y protegemos la información personal de nuestros clientes.</p>
        </div>

        <div class="faq-item">
            <h2>¿Puedo devolver o cambiar un producto que compré?</h2>
            <p>La política de devoluciones y cambios depende de cada vendedor. Te recomendamos revisar la política del vendedor antes de realizar una compra y contactarlo directamente en caso de dudas.</p>
        </div>

        <div class="faq-item">
            <h2>¿Cómo puedo contactar al soporte en caso de problemas?</h2>
            <p>Si tienes algún problema o inquietud, puedes contactarnos a través de nuestro formulario de contacto en el sitio, o enviarnos un correo electrónico a [email@direccion.com]. Nuestro equipo estará encantado de ayudarte.</p>
        </div>
    </section>
{% endblock %}
